
*{
  @apply transition-colors duration-300
}
:root{
  --base-color: #ebe9e9f7; 
  --base-variant: #2fdab2; 
  --text-color: black; 
  --input-color: rgb(93, 105, 104) ;

}

.darkmode{
  --base-color: #02392c; 
  --base-variant: black; 
  --text-color: rgb(253, 255, 255); 
  --input-color: rgb(26, 167, 141) ;


}

h1{
  color: var(--text-color);
  border: 2px var(--text-color);
}


body { 
  background: var(--base-color); 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%; 
  color: var(--text-color)
}

.App{
  text-align: center;
  width: 100%;
}


.TodoWrapper{
  background: var(--base-variant);
  width: 100%;
  margin: 5px 10px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 20px; 
  color: var(--text-color);
  border-radius: 10px; 

}

  .Todo {
  display: block;
  justify-content: center;
  align-items: center;
  background: var(--input-color);
  color: var(--text-color);
  width: 80%;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;


}

  .TodoForm {
    width: 100%; 
    margin-bottom: 1px; 
    color: var(--text-color)
  }

  .TodoInput{
  outline: none;
  background: none;
  border: 2px solid var(--input-color);
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 400px;
  color: var(--text-color);
  font-size: 17px;
  margin-left: auto; 
  margin-right: auto; 
  }

  .TodoButton{
    background: var(--input-color); 
    color: var(--text-color);
    padding: 12px; 
    cursor: pointer;
    border: none; 
    border-radius: 0px; 
    font-size: 17px; 

  }

  .Todo{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 10px;
    color: var(--text-color);
    margin-top: 10px; 
    margin-bottom: 10px;
    border-radius: 10px;

  }

.incompleted{ 
  cursor: pointer; 
  color: var(--text-color); 

}
.completed {
    text-decoration: line-through;
    color: var(--text-color);
}

.edit-icon, .delete-icon{ 
  cursor: pointer;
  color: white;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
