
:root{
  --base-color: white; 
  --base-variant: #81f5da; 
  --text-color: black; 
  --input-color: rgb(140, 157, 155) ;

}

.darkmode{
  --base-color: #037258; 
  --base-variant: black; 
  --text-color: white; 
  --input-color: rgb(23, 188, 157) ;


}

h1{
  color: var(--text-color)
}

#theme-switch{ 
  height: 50px;
  width: 50px; 
  padding: 0px; 
  border-radius: 50%; 
  background-color: var(--base-variant);
  display: flex; 
  justify-content: center; 
  align-items: center; 
  position: fixed; 
  top: 20px; 
  right: 20px;
}

#theme-switch svg{ 
  fill: var(--text-color)
}

#theme-switch svg:last-child{
  display:none; 
}

.darkmode #theme-switch svg:first-child{
  display:none; 
}

.darkmode #theme-switch svg:last-child{
  display: block; 
}

body { 
  background: var(--base-color); 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%; 
  color: var(--text-color)
}

.App{
  text-align: center;
  width: 100%;
}


.TodoWrapper{
  background: var(--base-variant);
  width: 100%;
  margin: 5px 10px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 20px; 
  color: var(--text-color)

}

  .Todo {
  display: block;
  justify-content: center;
  align-items: center;
  background: var(--input-color);
  color: var(--text-color);
  width: 70%;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;


}

  .TodoForm {
    width: 100%; 
    margin-bottom: 1px; 
    color: var(--text-color)
  }

  .TodoInput{
  outline: none;
  background: none;
  border: 1px solid var(--input-color);
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 400px;
  color: var(--text-color);
  }

  .TodoButton{
    background: var(--input-color); 
    color: var(--text-color);
    padding: 11px; 
    cursor: pointer;
    border: none; 
    border-radius: 0px; 

  }

  .Todo{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 10px;
    color: var(--text-color);
    margin-top: 10px; 
    margin-bottom: 10px;

  }

.incompleted{ 
  cursor: pointer; 
  color: var(--text-color); 

}
.completed {
    text-decoration: line-through;
    color: var(--text-color);
}

.edit-icon, .delete-icon{ 
  cursor: pointer;
  color: white;
}
